html,body
{
  height:100%
}
header
{
  background-image: url('openingf.jpg');
  height: 100vh;
  background-size: cover;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
ul
{   align-items: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: Blue;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
p
{
  max-width: 600px;
  margin: 0 auto 20px;
}
.news{
  text-align: center;
  text-shadow: 5px;
}
.about
{
  text-align: center;
  font-size: 2em;
  font-family: "Times New Roman", Times, serif;
}
.aboutdes
{
  font-size: 1.3em;
}
.aboutthecreator
{
  text-align: center;
  font-size: 2em;
  font-family: sans-serif;
  color: Purple;
}
*{
    box-sizing: border-box;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
@media screen and (max-width: 500px) {
    .column {
        width: 100%;
    }
}
.text
{
  font-size: 1.5em;
}
.pic
{
  align-items: top;
.about
{
  text-align: center;
  font-size: 2em;
}
